.profile-info {
  margin: 0;
  width: 100%;
  //border-bottom: 1px solid #ababab;
  padding: 10px;

  //border-bottom: 1px solid #EFEFEF;
  //background-color: #ffffff;

  background-color: #f0f0f0;
  border-bottom: 1px dashed #DBDBDB;

  //background: white;
  //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  //border-radius: 2px;
}

.profile-content-header{
  margin: 0 auto;
  padding: 0;
  font-size: 15pt;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
}

.profile-info-nav {
  list-style:none;
  margin:0;
  display: inline;
  //padding: 0 20px;
}

.profile-info-card {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

.profile-info-text {
  display: inline;
  float: left;
  margin-right: 20px;
}

.profile-avatar-container {
  display:inline-block;
}

.profile-avatar-large {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.name-and-etc-container {
  display:inline-block;
  text-align: left;
  padding: 0;
  max-width: 400px;
}

.profile-bio-container {
  display:inline-block;
  text-align: left;
  padding: 0 20px;
}

.profile-info-text {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px;
}

.profile-info-title {
  font-weight: bold;
}

.profile-text-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
}