
.vertical-line {
  height: 1700px;
  border-left: 1px solid #e8e8e8;
}

.right-line {
  border-right: 1px solid #e8e8e8;
}

.backdrop-lines-block{
  transform: translateZ(-10px);
  z-index: -10;
  height: 1700px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.static-about-title {
  font-size: 20pt;
  font-weight: bold;
  margin: 10px;
}

.static-about-image {
  max-width: 400px;
  margin: 10px 100px;
}

.static-about-container {
  margin: 0 10%;
}

@media only screen and (max-width: 768px) {
  .landing-header-container {
    width: 100% !important;
    padding: 10px !important;
  }
  .landing-header-text {
    font-size: 7vw !important;
  }

  .landing-img-container {
    display: none;
  }
}

.landing-img-container {
  //-webkit-animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  //animation: text-focus-in 1.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  float: right;
  padding-right: 20px;
  //height: auto;
  max-width: 40vw;
  //min-width: 500px;
}

.landing-header-container {
  padding-left: 10%;
  width: 60vw;

}

.landing-header-text-box {
  text-wrap: avoid;
  width: 95%;
  margin: 0px auto;
  padding-top: 0;
  text-align: left;
}

.landing-header-text {
  //-webkit-animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  //animation: text-focus-in 1.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  padding: 20px;
  color: #373737;
  font-size: 4vw;
  //font-size: 200%;
  //font-size: 60px;
  font-weight: bold;
  letter-spacing: 0;
}

.landing-subheader-text {
  //-webkit-animation: text-focus-in 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  //animation: text-focus-in 1.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  padding: 20px;
  color: #515151;
  font-size: 20px;
  font-weight: bold;
  text-space: 5px;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.landing-preview-image {

}


.home-btn {
  margin: 20px;
  background: #00e6b7;
  border: 1px solid #00e6b7;

  color: #FFFFFF;

  font-weight: bold;

  &:hover {
    border: 1px solid #00a97f;
    color: #FFFFFF;
    text-decoration: none;
  }

  &:active {
    border: 1px solid #00634a;
    color: #FFFFFF;
    text-decoration: none;
  }

}

.underline--magical {
  background-image: linear-gradient(120deg, #4cfaa2 0%, #3cfffd 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.home-row-divider {
  height: 1px;
  background-color: #E6E6E6;
  width: 90%;
  margin: 20px auto;
  background-image: linear-gradient(left , #f7f7f7 2%, #E6E6E6 50%, #f7f7f7 98%);
  background-image: -o-linear-gradient(left , #f7f7f7 2%, #E6E6E6 50%, #f7f7f7 98%);
  background-image: -moz-linear-gradient(left , #f7f7f7 2%, #E6E6E6 50%, #f7f7f7 98%);
  background-image: -webkit-linear-gradient(left , #f7f7f7 2%, #E6E6E6 50%, #f7f7f7 98%);
  background-image: -ms-linear-gradient(left , #f7f7f7 2%, #E6E6E6 50%, #f7f7f7 98%);
  background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, #f7f7f7), color-stop(0.5, gray), color-stop(0.98, #f7f7f7) );
}

.home-info-img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8.5vw;
  width: 200px;
}

.landing-info-header-text {
  padding: 20px;
  color: #373737;
  font-size: 3vw;
  font-weight: bold;
  letter-spacing: 0;
  text-align: left;
}

.landing-info-subheader-text {
  padding: 20px;
  color: #515151;
  font-size: 18px;
  font-weight: bold;
  text-space: 5px;
  text-align: left;
}

.how-it-works-img {
  width: 30%;
}