





//----- OLD BELOW

.show-post-container{
  padding: 10px;
  margin: 10px auto;

  border: none;
}

.showpost-title {
  font-weight: bold;
  font-size: 17pt;
}

.post-w-50 {
  width: 50%;
}

.post-w-30 {
  width: 30%;
}

.post-box{
  display: table;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  background-color: #ffffff;
  width: 98%;
}

.post-main-content {
  font-family: "Ramaraja", serif;
  font-size: 14pt;

  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
}

.show-comments-container{
  padding: 10px;
  margin: 10px auto;

  border: none;
}

.comments-container{
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  background-color: #ffffff;
}

.comments-list-box {
  max-height: 605px;
  overflow-y: scroll;
}

.comment-box{
  padding: 0 5px 10px 5px;
  //border-top: 1px solid #e2e2e2;
  width: 96%;
  text-align: justify;

  display: table;
  //padding: 10px;
  margin: 10px auto;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  background-color: #ffffff;
  width: 98%;
}

.comment-prompt-box{
  //padding: 5px;
  //margin: 0 auto;
  width: 100%;
}

.comment-content-background {
  font-family: "Ramaraja", serif;
  font-size: 14pt;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  //background-color: #fcfcfc;
  border: 1px dotted #f0edf0;
  border-radius: 4px;
  padding: 0 3px;
}

.showpost-box-title {
  margin-top: -10px;
  font-weight: bold;
  font-size: 14pt;
}

h5 {
  color: #9b9b9a;
  font-size: 12pt;
  line-height: 10px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.bold-title{
  color: #000000;
  display: inline;
  font-weight: bold;
}

.post-info-nav {
  margin-bottom: 5px !important;
}

.show-post-username {
  font-weight: bold;
  color: #373737;
  cursor: pointer;
}

.show-post-time {
  font-family: "Ramaraja", serif;
  font-size: 12pt;
  margin-bottom: -3px;
  font-weight: bold;
  color: #a5a5a5;
  cursor: pointer;
  text-overflow: ellipsis;
}


//rename new-post-button to new-comment-button...
.new-post-button{
  padding: 20px;
  margin: auto;
  width: 200px;
  background-color: #333;
  border: 1px solid #3e3d3f;
  border-radius: 4px;

  text-align: center;
  text-decoration: none;
  color: white;
}

.view-post-button{
  padding: 5px;
  margin: auto;
  width: 60px;
  background-color: #333;
  border: 1px solid #3e3d3f;
  border-radius: 4px;

  text-align: center;
  text-decoration: none;
  color: white;
}

.new-post-button:hover {
  background-color: #111;
}

.post-comment-username {
  color: #ff0cb0;
}


.comment-text-area{
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;

  font-family: "Ramaraja", serif;
  font-size: 14pt;

  resize:none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
}

.options-container{
  padding: 0;
  margin: 0;
}

.post-options {
  color: coral;
  padding: 5px 10px;
  margin: 0 10px;
  display: inline;
  float: left;
}


//----

.comment-info-container {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.comment-text-info {
  font-size: 13px;
  margin-left: 3px;
  color: #8b8b8b;
  font-weight: bold;
  display: inline;
}

.comment-dropdown {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-top: -10px;
}

.comment-dropdown:hover .comment-dropdown-content {
  display: block;
}

.comment-info-ellipsis {
  margin-top: -10px;
}

.comment-dropdown-content {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: auto;
  //min-width: 80px;
  z-index: 1;
}

.comment-dropdown-button {
  width: 100%;
  margin-bottom: 5px;
}