.dash-side-nav {
  position: fixed;
  height: calc(100vh - 40px);
  padding-top: 10px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  width: 220px;
}

.dash-content-container {
  margin-left: 220px;
  //padding: 10px;
}

.dash-project-container {
  //width: calc(100% - 40px);
  max-width: 1045px;
  margin: 20px auto;
  padding: 10px;

  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  border-radius: 3px;

}

.new-project-container {
  //width: calc(100% - 40px);
  //max-width: 1045px;
  width: 100%;
  margin-bottom: 20px;
  //margin: 20px auto;
  padding: 5px;

  background-color: #f0f0f0;
  border-bottom: 1px dashed #DBDBDB;
  //border-radius: 3px;

}

.dash-nav-add-sizing {
  margin: 5px !important;
  //background-color: #00BF9C;
}

.project-new-button {
  background-color: #f6f6f6;
  //border: 1px dashed #DBDBDB;
  border-radius: 3px;
  margin: 0;
}

.side-nav-row {
  padding: 20px;
  text-align: left;

  &:hover {
    background-color: #f7f7f7;
  }
}

.side-nav-link {
  text-decoration: none;
  font-weight: bold;
  color: #373737;

  &:hover{
    text-decoration: underline;
  }
}

.side-nav-icon {
  height: 19px;
  margin-bottom: -4px;
}

.dashboard-project-info-box {
  padding: 10px;
  height: 295px;
  width: 370px;
  //background-color: #fcfcfc;
  border: 1px dashed #f4f4f4;
  border-radius: 3px;
  text-align: left;
  font-weight: bold;
  color: #373737;

  object-fit: contain;
}

.dash-small-text {
  font-weight: normal;
}

.dashboard-project-button {
  margin-bottom: 10px;
}

.grey-btn {
  //background-color: #DBDBDB;
  font-weight: bold;
}

.green-btn {
  background: #00e6b7;
  border: 1px solid #00e6b7;

  color: #FFFFFF;

  font-weight: bold;

  &:hover {
    border: 1px solid #00a97f;
    color: #FFFFFF;
    text-decoration: none;
  }

  &:active {
    border: 1px solid #00634a;
    color: #FFFFFF;
    text-decoration: none;
  }

}

.dashboard-progress-info-box {
  padding: 10px;
  height: 295px;
  width: auto;
  //background-color: #fcfcfc;
  border: 1px dashed #f4f4f4;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  color: #373737;

  object-fit: contain;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 2.2em;
  font-weight: 100;
  color: #555;
  user-select: none;
}

