
.rdw-editor-toolbar{
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin-bottom: 10px;
}

.rdw-option-active {
  background-color: #DBDBDB;
}

code {
  background-color: #dddddd;
  color: #ed2958;
  padding: 3px;
  border-radius: 3px;
}

pre {
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;

  span {
    background-color: #f2f2f2 !important;
    color: #373737 !important;
  }
}

.rdw-dropdown-selectedtext {
  color: #373737;
  text-decoration: none;

  &:hover {
    color: #373737;
    text-decoration: none;
  }
}

.rdw-link-decorator-wrapper {
  a {
    span {
      color: #56e0c3 !important;
      text-decoration: underline;
    }
  }
}
